@using project_garage.Models.ViewModels
@model ProfileViewModel

<div class="profile-page">
    <h1>@Model.Nickname</h1>
    <p>@Model.Description</p>
    <div>
        <span>Friends: @Model.FriendsCount</span>
        <span>Posts: @Model.PostsCount</span>
    </div>
    <a href="@Url.Action("Logout", "Account")" class="btn btn-primary">Sign out</a>
    @if(@Model.CanAddFriend){
        
        <form method="post" action="/Friends/Add">
            <input type="hidden" name="friendId" value="@Model.UserId" />
            <button type="submit">Додати в друзі</button>
        </form>
    }
    <a href="@Url.Action("SearchUsers", "Profile")">Search</a>
    <a href="@Url.Action("GetAllRequests", "Profile")">Requests</a>
    <a href="@Url.Action("CreatePost", "Profile")">Create Post</a>
    <form method="post" action="@Url.Action("CreatePost", "Profile")">
        @Html.AntiForgeryToken()
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="Title" required maxlength="50" />
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="Description" required maxlength="250"></textarea>
        </div>
        <button type="submit">Create Post</button>
    </form>
</div>
